.ipynb_checkpoints
bin
build
build/*
_build
_build/*
.bzr
.coverage
.coverage/*
develop-eggs
dist
dist/*
downloads
*.egg
*.EGG
*.egg-info
*.EGG-INFO
eggs
fake-eggs
.hg
htmlcov
.installed.cfg
*.mo
.mr.developer.cfg
parts
*.pyc
__pycache__
__pycache__/*
*.pyo
.svn
*.tmp*
.tox
.tox/*
.ropeproject/
.gitmodules/*
*/.ipynb_checkpoints/*
docs/_function_autosummary/*
.spyproject/*
cache
debug_*
toss
