include *.in
include *.md
include *.rst
include *.toml
include *.txt
include *.yaml
include VERSION
include detox
recursive-include docs *.bat
recursive-include docs *.png
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
recursive-include notebooks *.csv
recursive-include notebooks *.ipynb
recursive-include notebooks *.png
recursive-include src *.dat
recursive-include src *.rst
recursive-include tests *.py
