include *.cff
include *.in
include *.md
include *.rst
include *.toml
include *.txt
include *.yaml
include .gitmodules
recursive-include docs *.bat
recursive-include docs *.png
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
recursive-include notebooks *.csv
recursive-include notebooks *.ipynb
recursive-include notebooks *.png
recursive-include notebooks *.py
recursive-include notebooks *.sh
recursive-include src *.bat
recursive-include src *.csv
recursive-include src *.dat
recursive-include src *.hbn
recursive-include src *.in
recursive-include src *.md
recursive-include src *.plt
recursive-include src *.rst
recursive-include src *.sh
recursive-include src *.toml
recursive-include src *.txt
recursive-include src *.wdm
recursive-include src *.xlsx
recursive-include src *.yaml
recursive-include src *.yml
recursive-include src Makefile

recursive-exclude tests *.cfm
recursive-exclude tests *.csv
recursive-exclude tests *.data
recursive-exclude tests *.dly
recursive-exclude tests *.htm
recursive-exclude tests *.html
recursive-exclude tests *.img
recursive-exclude tests *.jp2
recursive-exclude tests *.json
recursive-exclude tests *.py
recursive-exclude tests *.tar
recursive-exclude tests *.txt
recursive-exclude tests *.xml
recursive-exclude tests *.zip

recursive-exclude src/tsgettoolbox/src/toolbox_utils/tests *
